article h2 a{
  font: 36px/30px '微软雅黑'，'黑体';
  color: rgb(28, 106, 176);
}
article h2 a: hover{
  font: 36px/30px '微软雅黑'，'黑体';
  color: rgb(0, 0, 0);
}
article h2{
    margin-bottom: 8px;
}
article{
  padding: 40px;
  background: white;
  margin-bottom: 20px;
}
article span{
  font: 12px/18px '微软雅黑'，'黑体';
}
article span a{
  color: rgb(102, 102, 102);
}
article span a: hover{
  color: rgb(28, 106, 176);
}
article div{
  margin-bottom: 18px;
}
article p{
  font: 15px/22.5px '宋体'，'黑体';
}